* {
    box-sizing: border-box;
}

html,
body {
    background-color:#FFBBFF;
    max-width: 100wv;
    max-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

body{
    margin:auto;
    height:100%;
}

details {
    padding: 10px;
    background-color: #e4eaef;
    border-radius: 5px;
    max-width: 90%;
    margin: 0.5em auto;
}

details>*:not(summary) {
    margin: 0.75em 0 0 0;
}

pre {
    color: white;
    background: #30353b;
    padding: 1em;
    border-radius: 5px;
}

.flex-container {
    flex-direction: row;
    display: inline-flex;
    flex-wrap: wrap ;
    background-color: #A04392;
  }
  
  .flex-container > div {
    background-color:#FFE1FF;
    text-align: center;
    width: 300px;
    width: 400px;
    white-space: nowrap;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    
  }

  button {
    background-color: #A04392;
    color: white;
    margin-bottom:5px;
  }

  #navbar {
    overflow: hidden;
    color: white;
    background-color: #D559D1;
  }
  
  #navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  #navbar a:hover {
    background-color: #a93ea6;
    color: white;
  }
  #navbar a.active {
    background-color: #04AA6D;
    color: black;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  .sidebar {
    position: fixed;
    height: 100%; 
    background-color: #D559D1;
    position: left;
    overflow: auto;
    
}

h0 {
  font-size: 15px;
  text-align:justify;
  text-wrap:wrap;
  font-weight: 549;
}

.alignCenter {
  text-align: center;
  padding-top: 10px;
}


.bar-block{
    width: 100%;
    text-align: left;
    padding-left: 25px;
    
    border-right-style: solid;
}

details code {
    font-size: 1.1em;
    max-width: 100wv;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre-wrap;
    /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

/*   Open state of the dialog  */
dialog[open] {
  border-width: 5px;
  background-color:#FFE1FF;
  width:50%;
  text-wrap: wrap;
  border-color: #A04392;
  opacity: 1;
  transform: scaleY(1);
}

/*   Closed state of the dialog   */
dialog {
  border-width: 5px;
  background-color:#FFE1FF;
  width:50%;
  text-wrap: wrap;
  border-color: #A04392;
  opacity: 0;
  transform: scaleY(0);
  transition:
    opacity 0.7s ease-out,
    transform 0.7s ease-out,
    overlay 0.7s ease-out allow-discrete,
    display 0.7s ease-out allow-discrete;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}


/*   Before-open state  */
/* Needs to be after the previous dialog[open] rule to take effect,
    as the specificity is the same */
@starting-style {
  dialog[open] {
    opacity: 0;
    transform: scaleY(0);
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
dialog::backdrop {
  background-color: rgb(0 0 0 / 0%);
  transition:
    display 0.7s allow-discrete,
    overlay 0.7s allow-discrete,
    background-color 0.7s;
  /* Equivalent to
  transition: all 0.7s allow-discrete; */
}

dialog[open]::backdrop {
  background-color: rgb(0 0 0 / 25%);
}

/* This starting-style rule cannot be nested inside the above selector
because the nesting selector cannot represent pseudo-elements. */

@starting-style {
  dialog[open]::backdrop {
    background-color: rgb(0 0 0 / 0%);
  }
}


.pagamento {
  display: flex;
  background-color: #D559D1;
  align: right;
}

.pagamento > div {
  background-color: #FFBBFF;
  align-items: stretch;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}
